<!DOCTYPE html>
{% extends "first_app/base.html" %}

{% block body_block %}
<div class="jumbotron">
{% if registerd %}
<h1> Thank you for Registering</h1>
{% else %}
  <h1>Register Here</h1>
  <h3>Fill out the form</h3>
        <form  enctype="multipart/form-data" method="post">
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Enter Username" >
          <br/>
          <label for="password">Password:</label>
          <input type="password" name="password" >
          <br/>

          {% csrf_token %}
          <input type="submit" class = "btn btn-primary" value = "Submit">
        </form>
</div>
{% endif %}
{% endblock %}
